/* Bulk Editor Styles */
.gfdl-bulk-editor {
    margin: 20px 20px 0 0;
}

.gfdl-header {
    margin-bottom: 25px;
}

.gfdl-header h1 {
    display: flex;
    align-items: center;
    color: #23282d;
    font-size: 23px;
    font-weight: 400;
    margin: 0;
    padding: 9px 0 4px 0;
    line-height: 1.3;
}

.gfdl-header h1 .dashicons {
    font-size: 30px;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.gfdl-header .description {
    font-size: 13px;
    font-style: italic;
    color: #666;
    margin: 8px 0 0;
}

.gfdl-card {
    background: #fff;
    border: 1px solid #c3c4c7;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}

.table-container {
    padding: 0;
    margin: 0;
}

/* Table Styles */
.gfdl-bulk-editor table {
    border: none;
    border-spacing: 0;
    width: 100%;
    clear: both;
    margin: 0;
}

.gfdl-bulk-editor th {
    padding: 16px;
    font-weight: 600;
    text-align: left;
    line-height: 1.3em;
    font-size: 14px;
    border-bottom: 1px solid #c3c4c7;
}

.gfdl-bulk-editor td {
    padding: 16px;
    vertical-align: middle;
    line-height: 1.5em;
    font-size: 13px;
}

.column-form-id {
    width: 80px;
}

.column-sales-cycle {
    width: 200px;
}

/* Form Title Styling */
.form-title {
    font-weight: 600;
    color: #2271b1;
}

.row-actions {
    color: #666;
    font-size: 12px;
    padding: 2px 0 0;
    visibility: hidden;
}

tr:hover .row-actions {
    visibility: visible;
}

.row-actions a {
    text-decoration: none;
}

/* Select Dropdown Styling */
.gfdl-select {
    width: 100%;
    max-width: 200px;
    height: 36px;
    padding: 0 24px 0 8px;
    font-size: 13px;
    border: 1px solid #8c8f94;
    border-radius: 3px;
    background-color: #fff;
    color: #2c3338;
    cursor: pointer;
}

.gfdl-select.sales-ready {
    border-color: #00a32a;
    background-color: #f0f6fc;
}

.gfdl-select.early-stage {
    border-color: #e1a948;
    background-color: #fff8e5;
}

/* Footer Actions */
.gfdl-footer {
    background: #f6f7f7;
    border-top: 1px solid #dcdcde;
    padding: 20px;
    margin: 0;
    border-radius: 0 0 4px 4px;
}

.gfdl-actions {
    display: flex;
    justify-content: flex-end;
}

.gfdl-actions button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 14px;
    height: auto;
    min-height: 36px;
}

.gfdl-actions .dashicons {
    margin-right: 6px;
    font-size: 18px;
    width: 18px;
    height: 18px;
}

/* Status Messages */
.notice {
    margin: 20px 0;
}
